[submodule "external/mosesdecoder"]
	path = external/mosesdecoder
	url = https://github.com/moses-smt/mosesdecoder.git
[submodule "external/arabica"]
	path = external/arabica
	url = https://github.com/chardmeier/arabica.git
[submodule "external/ProbingPT"]
	path = external/ProbingPT
	url = https://github.com/chardmeier/ProbingPT
